body{
    background-color: #c3c3da;
    margin: 0;
    
}
.container{
    width: 80%;
    margin: auto;
    text-align: center;
}

.title{
    background-color: teal;
    padding: 3px;
    color: #fff;
    text-align: center;
}
.contain-img img{
    
}